<!-- Loop over each object in the posts array -->
<header>
<h1 id="tech">The Tech Blog
      </h1>
      </header>
{{#each posts as |post| }}
<div class="row mb-4 post">
  <div id="content" class="col-md-10">
    <h2>

    </h2>
    <div id="top">
    <p id ="title">{{post.title}}</p>
    <p id="date">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    </div>
    <p id ="body">{{post.body}}</p>
    
  </div>
  <div>
    <p>
    

    </p>
  </div>
</div>
{{/each}}
